.App {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #343a42;
  height: 100vh;
}

#mainWrapper {
  margin-top: 40vh;
}

#amountOfChars {
  font-family: 'Gilroy Light';
  color: white;
  font-size: 22px;
}

#resultText {
  font-family: 'Gilroy Light';
  color: white;
  font-size: 24px;
}

.pass {
  font-family: 'Gilroy';
}

#disclaimer {
  font-family: 'Gilroy Light';
  font-size: 20px;
  color: rgb(173, 85, 85);
}

#discBold {
  font-family: 'Gilroy';
  font-size: 22px;
}

#disclaimerButton {
  font-family: 'Gilroy';
  font-size: 26px;
  font-weight: 900;
  color:rgb(173, 85, 85);
  padding: 30px;

  &:hover {
    cursor: pointer;
  }
}

@media only screen and (max-width: 800px) {
  .App {
    overflow: hidden;
  }
  #amountOfChars {
    font-size: 20px;
  }
  #resultText {
    font-size: 20px;
  }
}